# Satish S Karande

### Python is dynamically typed programming language
### Which means no need define data type before the variable as we do in other programming languages like C, C++, Java and etc

In [14]:
a=10

### In python there is no char data type, instead its included in string

In [2]:
a='c'

In [3]:
type(a)

str

In [4]:
int('123')

123

In [5]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

### print()

In [27]:
print("Hello World")

Hello World

In [7]:
print(123)

123

In [8]:
print('Hello World')

Hello World

In [17]:
age=22
print("My age is:",age)

My age is: 22

In [13]:
# f string
print(f"My age is: {age}")

My age is: 32

In [18]:
# format()
name="Satish"
age=22
print("My name is {} and age is {}".format(name,age))

My name is Satish and age is 22

In [19]:
print("My name is {} and age is {}".format(age,name))

My name is 22 and age is Satish

In [20]:
# placeholder
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is Satish and age is 22

In [21]:
name="Satish Karande"
age=22
degree="BE"

# " My age is 22 and i have completed: my degree of BE with the name of Satish Karande"

In [22]:
print("My age is {} and i have completed: my degree of {} with the name of {}".format(age,degree,name))

My age is 22 and i have completed: my degree of BE with the name of Satish Karande

In [23]:
print(f"My age is {age} and i have completed: my degree of {degree} with the name of {name}")

My age is 22 and i have completed: my degree of BE with the name of Satish Karande

## Control Flow
### Decision Making statements
   * It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.
   * Structure of decision making evaluate several expressions that provide True or False as a result.
   * It is up to you to decide which type of action want to take and execute the statements based upon True and False.
   
**These are several topics of decision making which going to be discussed below:**
   1. **if**
   2. **if else** 
   3. **if elif else**
   4. **Nested if**
   5. **Single Statement Suites**

In [24]:
# If Statements
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [25]:
## If Statements
age=17
if age<18:
    print("You are not eligible to vote")

You are not eligible to vote

In [26]:
18<=18

True

### Taking input from the user

### By default input() function take string as input

In [27]:
name=input("Enter the name")

Enter the name Satish Karande

In [28]:
name

'Satish Karande'

In [32]:
# Typecasting of string to int
age=int(input("Enter your age"))

Enter your age 22

In [33]:
type(age)

int

In [34]:
# Task
# Take a input of age
# check whether age >=18 and age<=45
# display a message you are young blood

In [37]:
age = int(input("Enter your age"))
if age>=18 and age<=45:
    print("You are young blood")

Enter your age 22

You are young blood

In [39]:
True and False

False

In [40]:
22>=18 and 22<=45

True

In [41]:
22<=42

True

In [42]:
age=int(input("Enter the age"))
if  age>=18 and age <=45:
    print("You are young blood")

Enter the age 55

In [43]:
## if else satetements
age=int(input("Enter the age"))
if  age>=18 and age <=45:
    print("You are young blood")
else:
    print("Thank you we will let you know")

Enter the age 46

Thank you we will let you know

In [44]:
## mall - input the product price
## product >1000 rs 20% off
## print the product price after removing the discount
## product <=1000 rs 30% off
## print the product price after removing the discount

In [48]:
product_price = int(input("Enter the product price"))
if product_price > 1000:
    product_price = product_price * 0.8
elif product_price <= 1000:
    product_price = product_price * 0.7
print("The price of the product is :",product_price)

Enter the product price 900

The price of the product is : 630.0

### OR

In [51]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price 5000

The price of the product is 4000.0

In [52]:
int((20/100)*5000)

1000

### OR

In [53]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print(f"The price of the product is {product_price*0.8}")
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price 2000

The price of the product is 1600.0

In [ ]:
## mall - input the product price
## product >3000 rs 20% off
## price is ==4000 you get a trip to Goa
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing the discount
## price ==2999  u will get adiitional gift
## product 100 rs and <=2000 40% off
## print the product price after removing the discount

In [54]:
product_price=int(input("Enter the price"))
if product_price>3000:
    if product_price==4000:
        print("Congratulations you get a Goa Trip")
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulations you get an additional gift")
    print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("Lets drink tea")
    print("I will also be there")

Enter the price 2000

The price of the product is 1400.0

In [55]:
# Comparision operator
True==True

True

In [56]:
# Single Statement Suites
val=int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")
else:print("Go Home")

Enter the number 700

Value is less than equal to 999

## Loops statements
1. while loop
2. for loop
3. nested loops
4. Loop control(break,continue,pass)

### while loop, while-else

In [57]:
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
    
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [58]:
### Atm machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Add money to the ATM machine")
    
print("Hello All")

1000
900
800
700
600
500
400
300
200
100
Add money to the ATM machine
Hello All

## For Loop

In [71]:
# List
lst=["Satish",1,2,3,4,"apple","banana"]

In [72]:
type(lst)

list

In [73]:
lst[5]

'apple'

In [74]:
lst

['Satish', 1, 2, 3, 4, 'apple', 'banana']

In [75]:
for x in lst:
    print(x)

Satish
1
2
3
4
apple
banana

In [76]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [77]:
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("The fruit is cherry")

Mango
Cherry
The fruit is cherry
Apple
Papaya
Banana

In [78]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [79]:
fruit[2]

'n'

In [3]:
## range
for i in range(1,10): #range(start,stop,step)
    print(i)

1
2
3
4
5
6
7
8
9

In [15]:
for i in range(0,7,2):
    print(i)

0
2
4
6

In [16]:
## Nested loops
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r") # Or we can use prrint()

*
**
***
****
*****
******
*******

In [17]:
## Loop controls
# Break and continue
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [18]:
# break
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)

Mango
Cherry
The fruit is apple

In [19]:
# pass
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        pass
    print(i)

Mango
Cherry
The fruit is apple
Apple
Papaya
Banana

In [20]:
##continue
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
Cherry
The fruit is apple
Papaya
Banana

In [21]:
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
   
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
   
    k = 0
    print()

Enter number of rows:  4

      *
    * * *
  * * * * *
* * * * * * *